<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" roles="WA - CGCALOD4833VM - LO-Accounting-SPDST - Users" />
                <add accessType="Allow" users="compass-can\adminav" roles="" />
                <add accessType="Allow" users="compass-can\adminmc" roles="" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
